body {
  margin: 0;
  padding: 0;
  background: #ece5dd;
  font-family: Arial, sans-serif;
}

.container {
  width: 70%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #075e54;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

button {
  background: #25d366;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.chat-card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}